{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_coversheet/view_student
    Example context (json):
    {

    }
}}

<div class="w-100">
    {{{html}}}
</div>
<div id="cmidContainer" data-cmid="{{cmid}}" style="display:none;"></div>
<table class="table">
    <tbody>
        <tr>
            <th scope="row" class="bg-gray">Student Name:</th>
            <td>{{name}}</td>
        </tr>
        <tr>
            <th scope="row" class="bg-gray">Email Address:</th>
            <td>{{email}}</td>
        </tr>
        <tr>
            <th scope="row" class="bg-gray">Telephone No:</th>
            <td>{{phone}}</td>
        </tr>
    </tbody>
</table>
{{#infos}}
        {{#isTextarea}}
            <div class="textarea-container my-3 d-flex">
                <label for="{{name}}">{{name}}:</label>
                {{#isRequired}}
                    <textarea class="form-control textareainput" name="{{name}}" id="" rows="3" name="bi" data-name="{{name}}" data-id="{{id}}" data-datatype="{{datatype}}" required></textarea>
                {{/isRequired}}
                {{^isRequired}}
                    <textarea class="form-control textareainput" name="{{name}}" id="" rows="3" data-name="{{name}}" data-id="{{id}}" data-datatype="{{datatype}}"></textarea>
                {{/isRequired}}
                {{#isRequired}}<span class="required-text">*Required</span>{{/isRequired}}
            </div>
        {{/isTextarea}}
        {{#isTextinput}}
            <div class="textinput-container my-3 d-flex">
                <label for="{{name}}">{{name}}:</label>

                {{#isRequired}}
                    <input type="text" name="{{name}}" class="textinput ml-3" data-id="{{id}}" data-datatype="{{datatype}}" data-name="{{name}}" required>
                {{/isRequired}}
                {{^isRequired}}
                    <input type="text" name="{{name}}" class="textinput ml-3" data-id="{{id}}" data-datatype="{{datatype}}">
                {{/isRequired}}
                {{#isRequired}}<span class="required-text">*Required</span>{{/isRequired}}
            </div>
        {{/isTextinput}}
        {{#isRadio}}
            <div class="radio-container my-3 d-flex">
                <label for="{{name}}" class="mr-3">{{name}}:</label>
                {{#radioOptions}}
                    <input type="radio" id="{{id}}" name="{{name}}" value="{{.}}" data-id="{{id}}" data-datatype="{{datatype}}" data-name="{{name}}" class="radioinput mr-1" {{#isRequired}}required{{/isRequired}}>
                    <label for="{{name}}" class="mr-2">{{.}}</label>
                {{/radioOptions}}
                {{#isRequired}}<span class="required-text">*Required</span>{{/isRequired}}
            </div>
        {{/isRadio}}
        {{#isDropdown}}
            <div class="dropdown-container my-3 d-flex">
                <label for="{{name}}" class="mr-3 mt-2">{{name}}:</label>
                <select class="custom-dropdown dropdowninput" name="{{name}}" id="{{id}}" data-name="{{name}}" data-datatype="{{datatype}}" {{#isRequired}} required {{/isRequired}}>
                    <option value="" selected disabled hidden>Select an option</option>
                    {{#dropdownList}}
                        <option value="{{.}}" class="" data-id="{{id}}" data-datatype="{{datatype}}" data-name="{{name}}">{{.}}</option>
                    {{/dropdownList}}
                </select>
                <span class="custom-dropdown-arrow"></span>
                {{#isRequired}}<span class="required-text">*Required</span>{{/isRequired}}
            </div>
        {{/isDropdown}}
        {{#isCheckbox}}
            <div class="checkbox-container d-flex">
                {{#isRequired}}
                    <input type="checkbox" name="{{name}}" data-name="{{name}}" data-id="{{id}}" data-datatype="{{datatype}}" class="checkbox mr-3" required>
                {{/isRequired}}
                {{^isRequired}}
                    <input type="checkbox" name="{{name}}" data-name="{{name}}" data-id="{{id}}" data-datatype="{{datatype}}" class="checkbox mr-3">
                {{/isRequired}}
                <label for="{{name}}">{{name}}</label>
                {{#isRequired}}<span class="required-text">*Required</span>{{/isRequired}}
            </div>
        {{/isCheckbox}}
{{/infos}}

{{#results}}
    <div id="results-section">
        <div class="result-item"><span class="bold">Date: </span>{{date}}</div>
        <div class="result-item"><span class="bold">Name: </span>{{candidate_name}}</div>
        <label for="{{candidate_sign}}">My Signature</label>
        <img src="{{candidate_sign}}" alt="teacher_sign" height="200px" width="500px" class="conclusion-image">
    </div>
{{/results}}
{{^results}}
<div class="d-flex mt-4">
    <label for="nameInput" class="py-2">Enter Your Name:</label>
    <input type="text" id="student_name" name="student_name" class="w-25 ml-2" />
    <label for="nameInput" class="ml-5 py-2">Date:</label>
    <input type="text" id="currentDate" value="{{currentDate}}" class="w-25 ml-2" readonly>
</div>
<label for="signatureInput" class="py-2">Your Signature:</label>

    <div>
        <canvas id="signature-pad" class="signature-canvas"></canvas>
    </div>

    <div class="d-flex mt-2 ml-5">
        <div class="clear-btn">
            <button type="button" id="clear"><span> Clear </span></button>
        </div>
        <div class="save-btn">
            <button type="button" type="submit" id="save"><span> Save </span></button>
        </div>
    </div>
{{/results}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.3.5/signature_pad.min.js" integrity="sha512-kw/nRM/BMR2XGArXnOoxKOO5VBHLdITAW00aG8qK4zBzcLVZ4nzg7/oYCaoiwc8U9zrnsO9UHqpyljJ8+iqYiQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    var canvas = document.getElementById("signature-pad");
    function resizeCanvas() {
        var ratio = Math.max(window.devicePixelRatio || 1, 1);
        var newWidth = 600; // Set the desired width
        var newHeight = 300; // Set the desired height

        canvas.width = newWidth * ratio;
        canvas.height = newHeight * ratio;
        canvas.getContext("2d").scale(ratio, ratio);
    }
    window.onresize = resizeCanvas;
    resizeCanvas();

    var signaturePad = new SignaturePad(canvas, {
        backgroundColor: "rgb(227,215,215)"
    });

    document.getElementById("clear").addEventListener("click", function(event){
        event.preventDefault();
        signaturePad.clear();
    })

    document.getElementById("save").addEventListener("click", function(event){
        event.preventDefault();
        var student_name = $("#student_name").val();
        var cmid = $('#cmidContainer').data('cmid');
        var date = $('#currentDate').val();
        var isRequiredFieldEmpty = false; // Flag to track if any required field is empty.
        var flag = false;

        if (signaturePad.isEmpty()) {
            alert("Please provide a signature first.");
        }
        else if (!student_name) {
            alert("Please provide your name.");
        }
        else {
            // TextDataArray
            var textDataArray = [];
            // TextareaData Array
            var textareaDataArray = [];
            // Radio Array.
            var radioDataArray = [];
            var notRequiredDataArray = [];
            // Dropdown variables.
            var dropdownDataArray = [];
            // Checkbox Data Array.
            var checkboxDataArray = [];

            var signatureData = signaturePad.toDataURL();

            // var selectedRadioid = $("input[type='radio']:checked").data('id');
            // // var selectedRadioid = $("input[type='radio']:checked[required]").attr('id');
            // console.log(selectedRadioid);
            var selectedRadioid = $("input[type='radio']:checked").map(function() {
                return {
                    id: $(this).data('id'),
                    required: $(this).prop('required')
                };
            }).get();

            // console.log(selectedRadioid);
            if(selectedRadioid.length === 0) {
                isRequiredFieldEmpty = true;
                alert('Please select required radio button.');
            } else {
                // alert('kieeeee');
                var isAnyRequired = selectedRadioid.some(function(radio) {
                    return radio.required;
                });
                // console.log(isAnyRequired);
                if (!isAnyRequired) {
                    isRequiredFieldEmpty = true;
                    alert('Please select a required radio button.');
                } else {
                    selectedRadioid.forEach(function(radio) {
                        var id = radio.id;
                        var datatype = $("input[type='radio'][data-id='" + id + "']").data('datatype');
                        var value = $("input[type='radio'][data-id='" + id + "']:checked").val();
                        // console.log("ID:", id);
                        // console.log("Datatype:", datatype);
                        // console.log("Value:", value);

                        if (radio.required) {
                            var requiredData = {
                                id: id,
                                datatype: datatype,
                                value: value
                            };
                            radioDataArray.push(requiredData);
                        } else {
                            var notRequiredData = {
                                id: id,
                                datatype: datatype,
                                value: value
                            };
                            notRequiredDataArray.push(notRequiredData);
                        }
                    });
                }
            }
            // console.log("Required Data:", radioDataArray);
            // console.log("Not Required Data:", notRequiredDataArray);
            // var selectedRadioDatatype = $("input[type='radio']:checked").data('datatype');
            // var selectedRadioValue = $("input[type='radio']:checked").val();
            // var isRadioRequired = $("input[type='radio']:checked").prop('required');
            // if(isRadioRequired === undefined || isRadioRequired === false || selectedRadioid === undefined){
            //     isRequiredFieldEmpty = true;
            //     alert('Please select required radio button.');
            // }
            // if (isRadioRequired === false && flag === false){
            //     flag = true;
            //     var newradioData = {
            //         id: selectedRadioid,
            //         datatype: selectedRadioDatatype,
            //         inputvalue: selectedRadioValue
            //     };
            //
            //     newradioDataArray.push(newradioData);
            // }
            // if(isRadioRequired === true) {
            //     // console.log(selectedRadioid);
            //     // console.log(selectedRadioDatatype);
            //     // console.log("Selected Radio Value:", selectedRadioValue);
            //     var radioData = {
            //         id: selectedRadioid,
            //         datatype: selectedRadioDatatype,
            //         inputvalue: selectedRadioValue
            //     };
            //
            //     radioDataArray.push(radioData);
            // }
            // console.log(radioDataArray);
            // console.log(newradioDataArray);


            $('.textareainput').each(function () {
                var requiredtextarea = $(this).prop('required');
                var textareaValue = $(this).val();
                var textareaId = $(this).data('id');
                var textareaDataType = $(this).data('datatype');
                var fieldTextarea = $(this).data('name');
                if (requiredtextarea && textareaValue.trim() === '') {
                    isRequiredFieldEmpty = true;
                    alert('Please fill up '+ fieldTextarea +' field');
                    return false;
                }
                else {
                    var textareaData = {
                        id: textareaId,
                        datatype: textareaDataType,
                        inputvalue: textareaValue
                    };

                    textareaDataArray.push(textareaData);
                }
            });

            $('.textinput').each(function () {
                var requiredtext = $(this).prop('required');
                var inputvalue = $(this).val();
                var textId = $(this).data('id');
                var textDataType = $(this).data('datatype');
                var fieldText = $(this).data('name');
                if (requiredtext && inputvalue.trim() === '') {
                    isRequiredFieldEmpty = true;
                    alert('Please fill up '+fieldText +' field');
                    return false;
                }
                else {
                    var textData = {
                        id: textId,
                        datatype: textDataType,
                        inputvalue: inputvalue
                    };

                    textDataArray.push(textData);
                }

            });

            $('.checkbox').each(function () {
                var isChecked = $(this).prop('checked');
                var requiredCheckbox = $(this).prop('required');
                var fieldCheckbox = $(this).data('name');
                var fieldid = $(this).data('id');
                var datatype = $(this).data('datatype');
                if (requiredCheckbox && !isChecked) {
                    isRequiredFieldEmpty = true;
                    alert('Please fill up '+ fieldCheckbox +' field');
                    return false;
                }
                else {
                    if(isChecked) {
                        var checkboxData = {
                            id: fieldid,
                            datatype: datatype,
                            inputvalue: 1
                        };
                        checkboxDataArray.push(checkboxData);
                    }
                }
            });

            $('.dropdowninput').each(function () {
                var dropdownid = $(this).attr('id');
                // console.log(dropdownid);
                var requiredDropdown = $(this).prop('required');
                // console.log(requiredDropdown);
                var dropdownValue = $(this).val();
                // console.log(dropdownValue);
                var dropdownDataType = $(this).data('datatype');
                var fieldDropdown = $(this).data('name');

                if (requiredDropdown && dropdownValue === null) {
                    isRequiredFieldEmpty = true;
                    alert('Please fill up '+ fieldDropdown +' field');
                    return false;
                }
                else {
                    // alert('OKAY');
                    var dropdownData = {
                        id: dropdownid,
                        datatype: dropdownDataType,
                        value: dropdownValue
                    };

                    dropdownDataArray.push(dropdownData);
                }

            });
            if (isRequiredFieldEmpty) {
                return;
            }
            else {

                saveNonrequiredData(cmid,notRequiredDataArray)
                saveInfoData(cmid, checkboxDataArray, textareaDataArray,
                        textDataArray, radioDataArray, dropdownDataArray)
                // saveSignatureToDatabase(signatureData, student_name, cmid, date);
                // $("#clear, #save").hide();
            }
        }
    });
    function saveInfoData(cmid, checkboxDataArray, textareaDataArray,
                          textDataArray, radioDataArray, dropdownDataArray) {
        $.ajax({
            type: "POST",
            url: "save_user_data.php", // Create a new PHP file for handling the saving logic
            data: {
                cmid: cmid,
                checkboxDataArray: checkboxDataArray,
                textareaDataArray: textareaDataArray,
                textDataArray: textDataArray,
                radioDataArray: radioDataArray,
                // newradioDataArray: newradioDataArray,
                dropdownDataArray: dropdownDataArray,
            },
            success: function() {
                alert('Data Saved');
            },
            error: function() {
                alert('Failed to insert data');
            }
        });
    }
    function saveNonrequiredData(cmid, notRequiredDataArray) {
        $.ajax({
            type: "POST",
            url: "save_user_data.php", // Create a new PHP file for handling the saving logic
            data: {
                cmid: cmid,
                notRequiredDataArray: notRequiredDataArray,
            },
            // success: function() {
            //     alert('Data Saved');
            // },
            // error: function() {
            //     alert('Failed to insert data');
            // }
        });
    }
    function saveSignatureToDatabase(signatureData, student_name, cmid, date) {
        $.ajax({
            type: "POST",
            url: "save_signature.php", // Create a new PHP file for handling the saving logic
            data: {
                signatureData: signatureData,
                studentName: student_name,
                cmid: cmid,
                date: date
            },
            success: function(response) {
                alert(response);
            },
            error: function() {
                alert('Failed to insert data');
            }
        });
    }
</script>