{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_coversheet/view
    Example context (json):
    {

    }
}}

<!--<div class="text-center">-->
<!--    <a href="/mod/coversheet/adminpages/content_list.php?id={{cmid}}" class="btn add-content">Contents List</a>-->
<!--    <a href="/mod/coversheet/adminpages/add_submission.php?id={{cmid}}" class="btn add-submission">Add Submission Details</a>-->
<!--    <a href="/mod/coversheet/adminpages/user_information.php?id={{cmid}}" class="btn add-user-information">Add User Information</a>-->
<!--    <a href="/mod/coversheet/adminpages/resource_list.php?id={{cmid}}" class="btn add-resource">Resources List</a>-->
<!--</div>-->

<h5 class="mt-4">Student Submissions:</h5>
<table class="styled-table mx-auto w-75">
    <thead>
    <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Report</th>
    </tr>
    </thead>
    <tbody>
    {{#details}}
    <tr>
        <td class="text-center">{{candidate_name}}</td>
        <td class="text-center">
            <a href="{{webroot}}/mod/coversheet/adminpages/report.php?id={{cmid}}&studentid={{student_id}}" class=" btn btn-sm student-link">Report</a>
        </td>
    </tr>
    {{/details}}
    </tbody>
</table>