{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_coversheet/view
    Example context (json):
    {

    }
}}

<!--<div class="text-center">-->
<!--    <a href="/mod/coversheet/adminpages/content_list.php?id={{cmid}}" class="btn add-content">Contents List</a>-->
<!--    <a href="/mod/coversheet/adminpages/add_submission.php?id={{cmid}}" class="btn add-submission">Add Submission Details</a>-->
<!--    <a href="/mod/coversheet/adminpages/user_information.php?id={{cmid}}" class="btn add-user-information">Add User Information</a>-->
<!--    <a href="/mod/coversheet/adminpages/resource_list.php?id={{cmid}}" class="btn add-resource">Resources List</a>-->
<!--</div>-->

<div id="courseId" data-courseid="{{courseid}}" style="display:none;"></div>
<div id="license" data-licensekey="{{licenseKey}}" style="display:none;"></div>
<div id="webroot" data-webroot="{{webroot}}" style="display:none;"></div>
<div id="cmidContainer" data-cmid="{{cmid}}" style="display:none;"></div>
<h5 class="mt-4">Student Submissions:</h5>
<table class="styled-table mx-auto w-75">
    <thead>
    <tr>
        <th class="text-center">Name</th>
        <th class="text-center" colspan="2">Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#details}}
    <tr>
        <td class="text-center">{{firstname}} {{lastname}}</td>
        <td class="text-right">
            <a href="{{webroot}}/mod/coversheet/adminpages/report.php?id={{cmid}}&studentid={{student_id}}" class=" btn btn-sm student-link">View Submission</a>
        </td>
        <td class="text-left">
            <a href="{{webroot}}/mod/coversheet/adminpages/template_report.php?id={{cmid}}&studentid={{student_id}}" class=" btn btn-sm student-link">View Coversheet</a>
        </td>
    </tr>
    {{/details}}
    </tbody>
</table>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let courseid = document.getElementById('courseId').getAttribute('data-courseid');
        let license_key = document.getElementById('license').getAttribute('data-licensekey');
        let wwwroot = document.getElementById('webroot').getAttribute('data-webroot');
        let cmid = document.getElementById('cmidContainer').getAttribute('data-cmid');

        let decodedString = atob(license_key);
        let decodedArray = decodedString.split('.');
        let encodedString = decodedArray[1] + decodedArray[3];

        let finalDecodedString = atob(encodedString);

        let resultArray = finalDecodedString.split('+');

        if(resultArray[0] !== wwwroot || resultArray[1] !== 'Selkajag') {
            /// Redirecting to error page.
            window.location.href = wwwroot + '/mod/coversheet/license_key_error.php?courseid=' + courseid + '&domain_name=' + resultArray[0] + '&cmid=' + cmid;
        }
    });
</script>